body{
    background-image: url(dokdo.jpg); 
    color:black;
    background-repeat:no-repeat;
    background-color: black;
    background-size: cover;
}
h1{
    color:white;
    text-align: center;
    margin-top: 20px;
}
input{
    text-align: center;
    background-color: #00ff0000;
    color:White;
    margin:0 auto;
    display: block;
    width:80%;
    height:20px;
    font-size:20px;
}